{% extends 'students/base.html' %}


{% block body %}

<div class="row">
  
    <div class="col-md-12">
        {% if students %}

        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-book-medical"></i> students records
            </div>
            <div class="card-body">
              <h4 class="card-title">Total Students of Record Us</h4>
              <p class="card-text">
                {% for student in students%}

                <div class="m-2 border-bottom">
                  <p>Student Number  : {{ student.student_number }} </p>
                  <p>Name : {{ student.fisrt_name }} {{ student.last_name }} </p>
                  <p>GPA : {{ student.gpa }}  </p>
                  <p>Email : {{student.email}}</p>
                  <p>Phone : {{student.phone}}</p>

                  <button type="button" class="btn btn-success m-2" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">View</button>
      
                </div>

                  <!-- modal view -->

                <div class="modal" id="myModal{{student.id}}" aria-labelledby="myModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Student Details of --  {{student.id}} </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>Student Number  : {{ student.student_number }} </li>
                          <li>Name : {{ student.fisrt_name }} {{ student.last_name }} </li>
                          <li>GPA : {{ student.gpa }}  </li>
                          <li>Email : {{student.email}}</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                {%endfor%}
              </p>
            </div>
          </div>
        {% else %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Oh snap!</strong> <a href="#" class="alert-link">There is no students</a> and try submitting again.
          </div>
        {% endif%}
       
    </div>
</div>

{% endblock %}